aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
bashlex==0.18
bidict==0.23.1
blinker==1.9.0
boto3==1.40.25
botocore==1.40.25
causal-learn==0.1.4.3
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
clarabel==0.11.1
click==8.2.1
contourpy==1.3.3
cryptography==46.0.1
cvxpy==1.7.5
cycler==0.12.1
Cython==3.2.2
dashscope==1.24.5
datasets==4.0.0
dill==0.3.8
distro==1.9.0
docstring_parser==0.17.0
dowhy==0.14
et_xmlfile==2.0.0
fastapi==0.116.1
fastcore==1.8.8
fastuuid==0.12.0
filelock==3.19.1
Flask==3.1.2
flask-cors==6.0.1
Flask-SocketIO==5.5.1
fonttools==4.61.0
frozenlist==1.7.0
fsspec==2025.3.0
func_timeout==4.3.5
ghapi==1.0.6
gitdb==4.0.12
GitPython==3.1.45
graphviz==0.21
grpclib==0.4.8
h11==0.16.0
h2==4.3.0
hf-xet==1.1.9
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.4
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
kiwisolver==1.4.9
linkify-it-py==2.0.3
litellm==1.76.3
llvmlite==0.45.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
modal==1.1.4
momentchi2==0.1.8
mpmath==1.3.0
multidict==6.6.4
multiprocess==0.70.16
networkx @ file:///croot/networkx_1756709277056/work
numba==0.62.1
numpy==2.3.2
openai==1.106.1
openpyxl==3.1.5
osqp==1.0.5
packaging==25.0
pandas==2.3.2
patsy==1.0.2
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.4.0
propcache==0.3.2
protobuf==6.32.0
ptyprocess==0.7.0
pyarrow==17.0.0
pycparser==2.23
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydot==4.0.1
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
rich==14.1.0
rich-argparse==1.7.1
rpds-py==0.27.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
s3transfer==0.13.1
scikit-learn==1.7.2
scipy==1.15.3
scs==3.2.9
shellingham==1.5.4
sigtools==4.0.1
simple-parsing==0.1.7
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.47.3
statsmodels==0.14.5
swe-rex==1.4.0
sympy==1.14.0
synchronicity==0.10.2
tabulate==0.9.0
tenacity==9.1.2
textual==6.1.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.22.0
toml==0.10.2
tqdm==4.67.1
typer==0.17.4
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py==1.0.3
unidiff==0.7.5
urllib3==2.5.0
uvicorn==0.35.0
watchfiles==1.1.0
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
xlsxwriter @ file:///home/task_176156042409693/conda-bld/xlsxwriter_1761560436464/work
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
